@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    font-family: "Poppins", sans-serif;
}

h1{
    margin-left: 530px;
}

h2{
    margin-left: 560px;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin:2rem;
}

.btn-container{
    display: flex;
    justify-content: center;

}

.red{
    background-color: #D10363;
}

.yellow{
    background-color: #FFC55A;
}

.green{
    background-color: #41B06E;
}

.purple{
    background-color: #1679AB;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: #2a2a2a;
}
